body {
  background-color: #7FDBFF;
}
td {
  border-style: solid;
  width: 35px;
  height: 35px;
}
td.left {
  border-left-width: 6px;
}
td.right {
  border-right-width: 6px;
}

td.bottom {
  border-bottom-width: 6px;
}

td.top {
  border-top-width: 6px;
}
